@tailwind base;
@tailwind components;
@tailwind utilities;

textarea {
  @apply resize-none focus:outline-none focus:border-main-500;
}

/* star rate custom */
.rc-rate-star-half .rc-rate-star-first svg,
.rc-rate-star-full .rc-rate-star-second svg,
.rc-rate-star-half:hover .rc-rate-star-first svg,
.rc-rate-star-full:hover .rc-rate-star-second svg {
  @apply fill-main-500;
}
.rc-rate-star-half .rc-rate-star-first path,
.rc-rate-star-full .rc-rate-star-second path,
.rc-rate-star-half:hover .rc-rate-star-first path,
.rc-rate-star-full:hover .rc-rate-star-second path {
  @apply stroke-none;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

details {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
}

details[open] {
  max-height: none;
}

summary img {
  transform: rotate(0);
  transform-origin: 0.2rem 50%;
  transition: 0.25s transform ease;
}

details[open] summary img {
  transform: rotate(180deg);
}

/* Scroll Bar Custom _ Chrome, Edge, Safari */
*::-webkit-scrollbar {
  @apply w-2 h-2;
}

*::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-blue-500;
}
